header{
    //  display: flex;
    // flex-direction: column;
}

h1{
    font-weight: bold;
    font-size: 12rem;
    padding: 0.5rem;
}

menu{
    font-size: 4rem;
    padding: 0.5rem;
}

ul{  border: 2px solid black;
     border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(221, 83, 184);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}
