@use '../components/mixin';
.main{
    @include mixin.unselectable;
    display: flex;
    flex-direction: column;  
    
}
   
 .main_Title{
    font-size:5rem; 
    text-align: center;
    font-size: 4rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(221, 83, 184);
    }  

img{
    width: 12rem;
    padding: 2rem;
    border-radius: 3rem;
}

.main_box{
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    padding-left: 5rem;
    align-items: start;
   
}
.main_desc{
    padding-left: 5rem;
    align-items: center;
    justify-content: start;
    margin-right: 5rem;
}

.main_card {
    width: 190px;
    height: 254px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #8f149d;
    background:linear-gradient(to left, #8f149d 0%, #de089e 100%);
    position: relative;
    z-index: 1;
    align-items: start;
    justify-content: center;
    
}   

.main_card-info {
    background:rgb(255, 196, 241) ;
    color: black;
    width: 80%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
    font-size: 2rem;
    justify-content: center;
    text-align: justify;
    padding-bottom: 1rem;
    }


.main_card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #8f149d;
    background: rgb(221, 11, 172);
    transition: opacity .5s;
  
}
.main_projetSimplon{
    width: 60%;
    align-items: center;
}
 





